* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0e0e0e;
  --card-bg: #1a1a1a;
  --text-color: #eaeaea;
  --accent: rgb(255, 98, 98);
  --muted: #999;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #141414;
  border-bottom: 1px solid #222;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.logo span {
  color: var(--accent);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--accent);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 85vh;
  background: radial-gradient(circle at top left, #1a1a1a, #0b0b0b);
  padding: 4rem 6rem;
}

.hero-content {
  max-width: 600px;
  text-align: left;
}

.hero-name {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: -1rem;
}

.hero-title {
  font-size: 1.2rem;
  color: var(--muted);
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.6rem 0.9rem;
  background: transparent;
  color: #fff;
  border: 1px rgb(230, 230, 230) solid;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(255, 98, 98);
}

section {
  padding: 4rem 2rem;
  text-align: center;
}

section h2 {
  color: var(--accent);
  margin-bottom: 1rem;
}

.about p {
  max-width: 600px;
  margin: 0 auto;
  color: var(--muted);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.project-card {
  background: var(--card-bg);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, border 0.3s;
  border: 1px solid transparent;
}

.project-card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--accent);
}

.project-card h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.project-card p {
  color: var(--muted);
}

.contact a {
  color: var(--accent);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

footer {
  background: #111;
  color: var(--muted);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 1px solid #222;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero {
    padding: 3rem 2rem;
    min-height: 70vh;
  }

  .hero-name {
    font-size: 2rem;
  }

  .hero-line {
    width: 120px;
  }
}
